<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/wallpaper4.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">About Us</h1>
                <div class="text-center">
                    <a href=" " class="btn btn-primary btn-icon btn-round">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href=" " class="btn btn-primary btn-icon btn-round">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href=" " class="btn btn-primary btn-icon btn-round">
                        <i class="fab fa-google-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="wsite-section-elements">

                <div class="paragraph" style="color:white"><br>

                    <span style="font-weight:bold;text-align: center;
                    display: block; font-size: 22px;">COACH AMY CLAGGETT&nbsp;</span>
                    <br><br><span>Coach
                        Claggett has been surrounded by hockey her entire life. Since being introduced to roller hockey
                        in
                        Michigan at a young age she developed a love for the sport. Although after playing four years of
                        roller hockey, she found her true passion, ice hockey.&nbsp;</span><br><br><span>Coach Claggett
                        began training constantly to be able to become the best she could as a skater when she lived in
                        Washington DC and worked at the Fairfax Ice Arena. While working at the Fairfax Ice Arena she
                        met
                        the Weiss Family who influenced her drive. Michael Weiss,an olympic figure skater, was Coach
                        Claggett’s earliest influence and gave her the tools and assistance needed to continue on her
                        path
                        to become a great player and eventual coach.&nbsp;<br>&ZeroWidthSpace;</span><br><span>Coach
                        Claggett, as you can imagine, picked up skating quickly and began instructing mini power skating
                        sessions at the age of sixteen. During this time, Coach Claggett was introduced to the Women’s
                        National Team Coach, Kush Sidhu. Coach Claggett developed a strong bond with Coach Sidhu and he
                        ended up becoming not only her coach but her mentor.</span><br><br><span>Coach Claggett played
                        for
                        the Washington Little Capitals (AAA) team from 1992-1996. During that time she was recruited to
                        play
                        in the 1995 US Women’s Ice Hockey Olympic development training camp. As a result of her hard
                        work
                        and dedication to skating, Coach Sidhu asked her to help coach CCM development camps. Coach
                        Claggett
                        ended up playing two years in Lake Placid, North Country College girls team, and practicing with
                        the
                        men's&nbsp;team.<br>&ZeroWidthSpace;</span><br><span>After playing in Lake Placid, Coach Amy
                        went on
                        to play four years of ice hockey with The University of Maine-Orono, a D1 school for Women’s Ice
                        Hockey and graduated with her bachelor’s degree in Exercise Science and Biomechanics of Sport.
                        After
                        Coach Claggett completed her undergraduate degree she began working for Sony and NBC in New York
                        City as an Exercise Specialist. She&nbsp;then received a Graduate Assistantship from the
                        University
                        of Maine to further her&nbsp;education. While obtaining her Masters Degree, she studying
                        exercise
                        science and conducted research on the relationship between stride length and hamstring
                        flexibility.&nbsp;</span><br><br><span>After Graduate School, Coach Claggett&nbsp;was hired in
                        Chicago by Peak Performance Health as an Exercise Physiologist for where she stayed for 11
                        years.
                        Throughout that time she worked with a large range of clients from young athletes up to
                        professionals. Coach Claggett’s main focus was helping these elite athletes recover from
                        injuries
                        and regaining maximum sport performance.&nbsp; She went on to expand her knowledge by become a
                        certified Kinesio Taping Professional.<br><br>In 2012, Coach Claggett moved to Waunakee,
                        WI&nbsp;where she has been coaching in the greater Madison area now for over a decade. She has
                        coached not only thousands of kids (AAA,AA)but many college( UW-Madison) juniors (Madison
                        Capitals,
                        Green Bay Gamblers), CCM Select Camps, and professional hockey players
                        (AHL,NHL).&nbsp;<br>&ZeroWidthSpace;</span><br><span>Coach Claggett is not only a coach but an
                        amazing mother to her three children, Liam (8), Emry (6) and Finn (3).</span>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-team text-center">
        <div class="container">
            <h2 class="title">Here is our team</h2>
            <div class="team">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/avatar.jpg" alt="Thumbnail Image"
                                class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Romina Hadid</h4>
                            <p class="category text-primary">Model</p>
                            <p class="description">You can write here details about one of your team members. You can
                                give more details about what they do. Feel free to add some
                                <a href="#">links</a> for people to be able to follow them outside the site.
                            </p>
                            <a href=" " class="btn btn-primary btn-icon btn-round"><i
                                    class="fab fa-twitter"></i></a>
                            <a href=" " class="btn btn-primary btn-icon btn-round"><i
                                    class="fab fa-instagram"></i></a>
                            <a href=" " class="btn btn-primary btn-icon btn-round"><i
                                    class="fab fa-facebook-square"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/ryan.jpg" alt="Thumbnail Image"
                                class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Ryan Tompson</h4>
                            <p class="category text-primary">Designer</p>
                            <p class="description">You can write here details about one of your team members. You can
                                give more details about what they do. Feel free to add some
                                <a href="#">links</a> for people to be able to follow them outside the site.
                            </p>
                            <a href=" " class="btn btn-primary btn-icon btn-round"><i
                                    class="fab fa-twitter"></i></a>
                            <a href=" " class="btn btn-primary btn-icon btn-round"><i
                                    class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/eva.jpg" alt="Thumbnail Image"
                                class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Eva Jenner</h4>
                            <p class="category text-primary">Fashion</p>
                            <p class="description">You can write here details about one of your team members. You can
                                give more details about what they do. Feel free to add some
                                <a href="#">links</a> for people to be able to follow them outside the site.
                            </p>
                            <a href=" " class="btn btn-primary btn-icon btn-round"><i
                                    class="fab fa-google-plus"></i></a>
                            <a href=" " class="btn btn-primary btn-icon btn-round"><i
                                    class="fab fa-youtube"></i></a>
                            <a href=" " class="btn btn-primary btn-icon btn-round"><i
                                    class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>